# we ignore everything, then whitelist the directories and files we want to include
# see https://stackoverflow.com/a/70871674
/**
!/public
!/backend
!/frontend/dist/meh
!/frontend/src/components/*/readme.md
!/meh
!/README.md
