:host {
  display: inline-block;
}

a {
  display: inline-flex;
  align-items: center;

  color: var(--meh-link-color);
  text-decoration-color: color-mix(in srgb, var(--meh-link-color), transparent 80%);

  &:hover, &:focus, &:active {
    text-decoration-color: var(--meh-link-deco-color);
  }
}
