form {
  display: flex;
  flex-direction: column;
  gap: var(--meh-spacing);

  input, textarea {
    width: 100%;
  }

  .userdata {
    display: flex;
    flex-direction: row;
    gap: var(--meh-spacing);
    flex-wrap: wrap;

    > label {
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 15em;

    }
  }

  .error {
    color: var(--meh-error);
  }

  .success {
    color: var(--meh-success);
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: var(--meh-spacing);
    justify-content: space-between;
  }
}
